.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.star {
    cursor: pointer;
    font-size: 3rem;
    color: gold;
    transition: color 0.2s;
}

.star:hover,
.star:hover ~ .star {
    content: url('img/star.png');
}
